* {
  font-family: Inter;
}

html,
body {
  // height: 100%;
  display: flex;
  overflow-x: hidden;
}

.main {
  // flex: 1 0 auto;
  width: 100vw;

  & > .section:first-child {
    height: auto;

    // .section__info-main

    .colored {
      height: calc(80px + 652px);
    }
    // padding-top: 50px;
    // margin-bottom: 24px;

    .section__content {
      padding-top: calc(32px + 83px);
      padding-bottom: 0;
    }
  }

  & > .section:last-child {
    margin-bottom: 85px;
  }

  & > .section:last-child {
    margin-bottom: 0px;
    
    .section__content {
      padding-top: 185px;
    }

  }
  
  @media (max-width: 1365px) {
    & > .section:nth-child(5) {
      height: 887px;
    }

    & > .section:nth-child(7) {
      height: 920px;
    }

    & > .section:first-child {
      margin-bottom: 88px;

      .section__info-main {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 23px;
        letter-spacing: normal;
      }
      
      .section__info-second {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.33px;
        margin-bottom: 40px;
        letter-spacing: normal;
      }
    }

    & > .section:last-child {
      .section__content {
        margin-bottom: 85px;
        padding-top: 26px;
      }

      .colored {
        height: 669px;
      }
    }
  }
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1280px;
}

.short {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 54px !important;
  max-width: 1280px;
}
