@media (max-width: 1365px) {

  .header {
    padding: 26px 16px;

    &__logo-name {
      display: none;
    }
  }

  .br-desktop {
    display: none;
  }

  .first-samsung, .samsung-delivery, .second-samsung,
  .third-samsung, .fifth-samsung, .sixth-samsung,
  .seveth-samsung, .eighth-samsung,
  .ninth-samsung, .tenth-samsung, .eleventh-samsung {
    display: none;
  }

  .store {
    display: none;
  }

  .mobile-store {
    display: flex;
    margin-top: 32px;
    justify-content: center;

    &__google {
      margin-right: 17px;
    }
  }

  .first-samsung-mobile {
    margin: 0 auto;
    width: 350px;
    height: 304px;
    background: {
      image: url('../img/images/mobile/SamsungGalaxyS205G1.png');
      size: 350px 304px;
      repeat: no-repeat;
    }
  }
  
  .second-menu-mobile {
    margin: 0 auto;
    margin-top: 19px;
    width: 376px;
    height: 367px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G1.png');
      size: 376px 367px;
      repeat: no-repeat;
    }
  }

  .third-menu-mobile {
    margin: 0 auto;
    margin-top: 21px;
    width: 268px;
    height: 588px;
    background: {
      image: url('../img/images/mobile/SamsungGalaxyS205G2.png');
      size: 268px 588px;
      repeat: no-repeat;
    }
  }

  .fourth-menu-mobile {
    margin: 0 auto;
    margin-top: 21px;
    width: 268px;
    height: 588px;
    background: {
      image: url('../img/images/mobile/SamsungGalaxyS205G3.png');
      size: 268px 588px;
      repeat: no-repeat;
    }
  }

  .fifth-menu-mobile {
    position: absolute;
    top: 0px;
    left: -1px;
    // margin: 0 auto;
    // margin-top: 21px;
    width: 233px;
    height: 510px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G2-1.png');
      size: 233px 510px;
      repeat: no-repeat;
    }
  }

  .sixth-menu-mobile {
    position: absolute;
    top: 57px;
    right: 1px;
    // margin: 0 auto;
    // margin-top: 21px;
    width: 232px;
    height: 510px;
    background: {
      image: url('../img/images/common/Samsung Galaxy S20 5G-4 2.png');
      size: 232px 510px;
      repeat: no-repeat;
    }
  }

  .seventh-menu-mobile {
    margin: 0 auto;
    margin-top: 23px;
    width: 268px;
    height: 588px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G4.png');
      size: 268px 588px;
      repeat: no-repeat;
    }
  }

  .eight-menu-mobile {
    position: absolute;
    top: 0px;
    left: -1px;
    // margin: 0 auto;
    // margin-top: 23px;
    width: 233px;
    height: 510px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G3-1.png');
      size: 233px 510px;
      repeat: no-repeat;
    }
  }

  .nineth-menu-mobile {
    position: absolute;
    top: 57px;
    right: 1px;
    // margin: 0 auto;
    // margin-top: 21px;
    width: 232px;
    height: 510px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G3-2.png');
      size: 232px 510px;
      repeat: no-repeat;
    }
  }

  .tenth-menu-mobile {
    position: absolute;
    top: 23px;
    left: 0px;
    // margin: 0 auto;
    // margin-top: 21px;
    width: 218px;
    height: 328px;
    background: {
      image: url('../img/images/mobile/SamsungGalaxyS205G4.png');
      size: 218px 328px;
      repeat: no-repeat;
    }
  }

  .eleventh-menu-mobile {
    position: absolute;
    top: 90px;
    right: -2px;
    // margin: 0 auto;
    // margin-top: 21px;
    width: 218px;
    height: 261px;
    background: {
      image: url('../img/images/common/SamsungGalaxyS205G2-2.png');
      size: 218px 261px;
      repeat: no-repeat;
    }
  }

  .first-samsung {
    // display: block;
    // position: relative;
  }

  .section {
    margin-bottom: 0px;
    margin: 0 auto;
    height:  872px;

    &__other-logo {
      margin-bottom: 16px;
    }

    &__other-title {
      font-size: 40px;
      line-height: 120%;
      font-weight: 700;
      letter-spacing: normal;
    }

    &__image-mobile-box {
      position: relative;
      margin-top: 21px;
    }

    &__other-store {
      display: flex;
    }

    &__other-store-google {
      margin-right: 19px;
    }

    &--short {
      height: 720px;
    }

    &__image-mobile {
      display: block;
      // position: relative;
    }

    &__content {
      padding: 24px 16px;
    }

    &__title {
      margin: 0 auto;
      font-size: 48px;
      margin-bottom: 24px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    &__text {
      font-size: 20px;
    }

    &__info-title {
      font-size: 48px;
      margin-bottom: 72px;
    }

    &__info-image {
      // display: block;
      // width: 100%;
      // margin: 0 auto 68px auto;

      &--iphone {
        height: 400px;
        max-width: 382px;
        background: {
          image: url('../img/images/mobile/iPhone12Pro2.png');
          size: 100% 400px;
          repeat: no-repeat;
        }
      }

      &--samsung {
        height: 400px;
        max-width: 382px;
        background: {
          image: url('../img/images/mobile/SamsungGalaxyS205G2.png');
          size: 100% 400px;
          repeat: no-repeat;
        }
      }

      &--macbook {
        height: 222px;
        max-width: 382px;
        background: {
          image: url('../img/images/mobile/MacBookPro2.png');
          size: 100% 222px;
          repeat: no-repeat;
        }
      }
    }

    &__info-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      margin-bottom: 16px;
      font-weight: 700;
      letter-spacing: normal;
      // margin-bottom: 28px;
      letter-spacing: 1px;
      line-height: 120%;
    }

    &__info-second {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 24px;
      letter-spacing: -0.18px;
    }

    &__info-button {
      align-self: center;
    }

    &__image {
      display: none;
    }
  }

  .footer {
    bottom: 46px;
    background-color: #ffffff;
    padding: 20px 16px;

    &__connections {
      grid-template-columns: repeat(2, 53%);
      // grid-column-gap: 40px;
      grid-row-gap: 20px;
    }

    &__phone,
    &__telegram,
    &__email {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
    }

    &__copyright {
      text-align: left;
      align-self: end;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1040px) {
}

@media (max-width: 992px) {
}

@media (max-width: 840px) {
}

@media (max-width: 768px) {
}

@media (max-width: 650px) {
}

@media (max-width: 540px) {
}

@media (max-width: 440px) {
}

@media (max-width: 375px) {
} ;
