$title: #136dec; /* Button Background / Primary / buttonPrimaryEnabled */
$textPrimary: #132339; /* Text / textPrimary */
$textOnColor: #ffffff; /* Text / textOnColor */
$textSecondary: #52637a; /* Text / textSecondary */
$textTertiary: #627084; /* Text / textTertiary */

$bgSecondary: #eef5ff; /* Background / bgSecondary */
$bgPrimary: #136dec; /* Button Background / Primary / buttonPrimaryEnabled */
$bgButtonSecondary: rgba(3, 10, 22, 0.04); /* Button Background / Secondary / buttonSecondaryEnabled */

$opacity: 0.1;
